body {
    margin: 0px;
    font-size: 14px;
    line-height: 1.4em;
    background-color: white;
}
main {padding: 0px 1.4em; margin-top: 1em;}


/* navbar */
#navbar {
    width: 100%;
    height: 20%;
    list-style: none;
    margin: 0px;
    padding: 0px;
    overflow: auto;
    background-color: #333;
}
#navbar li {float:left;}
#navbar li a {
    display: block;
    color: white;
    margin: 0px;
    padding: 1em;
    text-decoration: none;
    text-align: center;
}
#navbar li a:hover {background-color: #3D9970;}
#logout-link, #signup-link, #post-create, #login-link {float: right !important;}
@media screen and (max-width: 700px) {ul.navbar li {width: 100%; float: none;}}


/* index */
h1 {color: black; text-align: center; padding-top: 0.1em; padding-bottom: 0.4em;}
div.post {
    border: 1px dotted black;
    padding: 10px;
    margin: 0px;
    background-color: rgb(233, 227, 227);
}
div.post:last-child {margin-bottom: 2em;}
h2 {text-align: center; color: blue;}
h2 a:visited {color: blue;}
.post-body {text-align: justify;}



/* programs */
div.program {
    float: left;
    max-width: 48%;
    text-align: justify;
    padding: 1% 1%;
}
div.program img {display: inline-block; max-width: 100%;}
/* about */
div.about-author {
    position: absolute;
    top: 40%;
    left: 25%;
    width: 50%;
    text-align: center;
}


.button {
    display: inline-block;
    background-color: #3D9970;
    padding: 0.7em 1.3em;
    margin-right: 1em;
    margin-bottom: 1em;
}
.button > a {text-decoration: none; color: white;}
.button > a:visited {color: white;}



.clearfix {overflow: auto;}
