{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h1>{% block title %}Регистрация{% endblock %}</h1>
<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Зарегистрироваться">
</form>
{% endblock %}