{% extends 'base.html' %}
{% block title %}Об авторе{% endblock %}

{% load static %}
{% block content %}
<div class="about-author">
        <h1>Косыгин Кирилл Сергеевич</h1>
        <p>ИКНиТО, ИВТ 1 курс</p>
        <p>1 группа, 2 подгруппа</p>
        <p><a href="mailto: cyrillekossyguine@gmail.com">cyrillekossyguine@gmail.com</a></p>
        <img src="{% static 'blog/images/Label.png' %}" alt="Ватемарка">
</div>
{% endblock %}