{% extends 'base.html' %}
{% block content %}
<h1 class="index-header">ЛАБА №8</h1>
{% if user.is_authenticated %}
{% endif %}
{% for post in post_list %}
<div class="post">
    <h2 class="post-title"><a href="{% url 'post_detail' pk=post.id %}">{{ post.title }}</a></h2>
    {% autoescape off %}
    <article class="post-body">{{ post.body }}</article>
    {% endautoescape %}
</div>
{% endfor %}
{% endblock %}