{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<h1>{{ post.title }}</h1>
{% autoescape off %}
<article class="post-body">{{ post.body }}</article>
{% endautoescape %}
<hr>
{% if user.is_authenticated %}
<span class="button"><a href="{% url 'post_update' pk=post.id %}">Редактировать</a></span>
<span class="button"><a href="{% url 'post_delete' pk=post.id %}">Удалить</a></span>
{% endif %}
{% endblock %}