{% extends 'base.html' %}
{% block title %}Меры предосторожности{% endblock %}
{% block link_style %}{% load static %}<link rel="stylesheet" href="{% static 'demo/style.css' %}">{% endblock %}
{% block content %}
<main class="precautions">
    <div class="introduction">
            <p>Одним из основных методов борьбы с вирусами является, как и в медицине, своевременная профилактика. Компьютерная профилактика предполагает соблюдение небольшого числа правил, которое позволяет значительно снизить вероятность заражения вирусом и потери каких-либо данных.</p>
    </div>
    <div class="advices">
        <ul>
            <li>Крайне осторожно относитесь к программам и документам Word/Excel, которые получаете из глобальных сетей. Перед тем, как запустить файл на выполнение или открыть документ/таблицу, обязательно проверьте их на наличие вирусов.</li>
            <li>Для уменьшения риска заразить файл на сервере администраторам сетей следует активно использовать стандартные возможности защиты сети: ограничение прав пользователей; установку атрибутов “только для чтение” или даже “только на запуск” для всех выполняемых файлов (к сожалению, это не всегда оказывается возможным) и т.д.</li>
            <li>Используйте специализированные антивирусы, проверяющие “на лету” файлы, к которым идет обращение. Если это по какой-либо причине невозможно, регулярно проверяйте сервер обычными антивирусными программами.</li>
            <li>Значительно уменьшается риск заражения компьютерной сети при использовании бездисковых рабочих станций.</li>
            <li>Желательно также перед тем, как запустить новое программное обеспечение, попробовать его на тестовом компьютере, не подключенном к общей сети.</li>
            <li>Старайтесь не запускать непроверенные файлы, в том числе полученные из компьютерной сети. Желательно использовать только программы, полученные из надежных источников. Перед запуском новых программ обязательно проверьте их одним или несколькими антивирусами.</li>
            <li>Все это приводит к необходимости ограничения круга лиц, допущенных к работе на конкретном компьютере. Как правило, наиболее часто подвержены заражению “многопользовательские” персональные компьютеры.</li>
            <li>Пользуйтесь утилитами проверки целостности информации. Такие утилиты сохраняют в специальных базах данных информацию о системных областях дисков (или целиком системные области) и информацию о файлах (контрольные суммы, размеры, атрибуты, даты последней модификации файлов и т.д.). Периодически сравнивайте информацию, хранящуюся в подобной базе данных, с реальным содержимым винчестера, так как практически любое несоответствие может служить сигналом о появлении вируса или “троянской” программы.</li>
            <li>Периодически сохраняйте на внешнем носителе файлы, с которыми ведется работа. Такие резервные копии носят название backup-копий. Затраты на копирование файлов, содержащих исходные тексты программ, базы данных, документацию, значительно меньше затрат на восстановление этих файлов при проявлении вирусом агрессивных свойств или при сбое компьютера.</li>
        </ul>
    </div>
</main>
{% endblock %}