{% extends 'base.html' %}
{% block title %}Программы{% endblock %}
{% block content %}
<section class="programs">
    <div class="program">
        <p>Утилита Dr.Web&copy CureIt! - удобный и эффективный способ проверить текущее состояние компьютера.</p>
        <p><a href="https://free.drweb.ru/cureit/" target="_blank">Перейти на сайт разработчика</a></p>
        <img src="http://softtor.com/uploads/posts/2014-10/1413088551_dr.web-cureit.jpg" alt="Dr Web screenshot"/>
    </div>
    <div class="program">
        <p>Антивирус Зоркий глаз. Он настолько элитарен, что даже не требует копирайта, мощнейшие алгоритмы уничтожают любой exe или com файл в корне диска, ну и название. Разве этого не достаточно?</p>
        <p><a href="http://exnax.narod.ru/antivir.htm" target="_blank">Перейти на сайт разработчика</a></p>
        <img src="http://exnax.narod.ru/PSfiles/me.jpg" alt="Dr Web screenshot"/>
    </div>
</section>
{% endblock %}