<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}ЛАБА №8{% endblock %}</title>
        {% load static %}
        {% block style %}
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
         <link rel="stylesheet" href="{% static 'blog/style.css' %}">
         {% endblock %}
    </head>
    <body>
        {% block navbar %}
        <ul id="navbar" class="visible-md">
            <div class="clearfix"></div>
                <li><a href="{% url 'index' %}">ЛАБА №8</a></li> 
                <li><a href="{% url 'programs' %}">Программы</a></li> 
                <li><a href="{% url 'precautions' %}">Меры предосторожности</a></li> 
                <li><a href="{% url 'about' %}">Об авторе</a></li> 
                {% if user.is_authenticated %}
                <li id="post-create"><a href="{% url 'post_create' %}">Новая запись</a></li>
                <li id="logout-link"><a href="{% url 'logout' %}">Выйти</a></li> 
                {% else %}
                <li id="signup-link"><a href="{% url 'signup' %}">Зарегистрироваться</a></li> 
                <li id="login-link"><a href="{% url 'login' %}">Войти</a></li> 
                {% endif %}
                {% block navitems %}<!-- additional links -->{% endblock %}
            </div>
        </ul>
        {% endblock %}
        <main>{% block content %}{% endblock %}</main>
    </body>
</html>